﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using UmbracoV7.App_Code.ComputerMagic.PetaPoco.Models
@using UmbracoV7.App_Code.ComputerMagic.PetaPoco.Repository
@{
    Layout = null;

    var PagedAuthors = Books.GetAllPaged(1, 5);
}

<ul>
	@foreach (var item in PagedAuthors.Items)
	{
	<li>@item.BookID @item.Description</li>
	}
</ul>
Total Pages : @PagedAuthors.TotalPages
<br />
Current Page : @PagedAuthors.CurrentPage
<br />
Total records : @PagedAuthors.TotalItems
<br />
Records per page : @PagedAuthors.ItemsPerPage
<br />

