﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using UmbracoV7.App_Code.ComputerMagic.PetaPoco.Models
@using UmbracoV7.App_Code.ComputerMagic.PetaPoco.Repository
@{
    Layout = "BaseMasterTemplate.cshtml";
}
@{
    UmbracoV7.App_Code.ComputerMagic.PetaPoco.Models.Property objProperty = new UmbracoV7.App_Code.ComputerMagic.PetaPoco.Models.Property();
    var searchItem = Convert.ToString(Request.QueryString["p"]);
    if (!string.IsNullOrEmpty(searchItem))
    {
        objProperty = PropertyData.GetPropertyDetail(searchItem);
    }
}
<style>
    .swiper-wrapper img {
        height: 500px !important;
        width: 700px
    }
</style>
<!-- ======= Intro Single ======= -->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">@objProperty.AddressNumber @objProperty.AddressStreet</h1>
                    <span class="color-text-a"> @objProperty.Address3, @objProperty.Country  @objProperty.AddressPostcode</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="property-listing">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="property-listing">Properties</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            @objProperty.AddressNumber @objProperty.AddressStreet
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section><!-- End Intro Single-->
<!-- ======= Property Single ======= -->
<section class="property-single nav-arrow-b">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div id="property-single-carousel" class="swiper-container">
                    <div class="swiper-wrapper">
                        @foreach (var item in objProperty.PropertyImages)
                        {
                            <div class="carousel-item-b swiper-slide">
                                <img src="@item.ImageUrl" alt="">
                            </div>
                        }
                    </div>
                </div>
                <div class="property-single-carousel-pagination carousel-pagination"></div>
            </div>
        </div>

        <div class="row" style="margin-top:50px">
            <div class="col-sm-12">

                <div class="row justify-content-between">
                    <div class="col-md-5 col-lg-4">
                        <div class="property-price d-flex justify-content-center foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico">
                                    <span class="bi bi-cash">£</span>
                                </div>
                                <div class="card-title-c align-self-center">
                                    <h5 class="title-c">

                                        @if (objProperty.Department.ToString().ToLower() == "sales")
                                        {@objProperty.Price ;
                                    }
                                    else
                                    {
                                        @objProperty.Rent;
                                    }
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="property-summary">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="title-box-d section-t4">
                                        <h3 class="title-d">Quick Summary</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="summary-list">
                                <ul class="list">
                                    <li class="d-flex justify-content-between">
                                        <strong>Property ID:</strong>
                                        <span>@objProperty.PropertyID</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Location:</strong>
                                        <span>@objProperty.Address3 , @objProperty.Country @objProperty.AddressPostcode </span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Property Type:</strong>
                                        <span>@objProperty.DisplayPropertyType</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Property Age:</strong>
                                        <span>
                                            @ExtenstionClass.GetStringValue((PropertyAge)objProperty.PropertyAge)
                                        </span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Status:</strong>
                                        <span>Sale</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Beds:</strong>
                                        <span>@objProperty.PropertyBedrooms</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Baths:</strong>
                                        <span>@objProperty.PropertyBathrooms</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Ensuites:</strong>
                                        <span>@objProperty.PropertyEnsuites</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Kitchens:</strong>
                                        <span>
                                            @objProperty.PropertyKitchens
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-7 section-md-t3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="title-box-d">
                                    <h3 class="title-d">Property Description</h3>
                                </div>
                            </div>
                        </div>
                        <div class="property-description">
                            <p class="description color-text-a">
                                @Html.Raw(objProperty.FullDescription)
                            </p>
                        </div>
                        <div class="row section-t3">
                            <div class="col-sm-12">
                                <div class="title-box-d">
                                    <h3 class="title-d">Features</h3>
                                </div>
                            </div>
                        </div>
                        <div class="amenities-list color-text-a">
                            <ul class="list no-margin">
                                @if (objProperty.PropertyFeature1 != "System.Object")
                                {
                                    <li>@objProperty.PropertyFeature1</li>
                                }
                                @if (objProperty.PropertyFeature2 != "System.Object")
                                {
                                    <li>@objProperty.PropertyFeature2</li>
                                }
                                @if (objProperty.PropertyFeature3 != "System.Object")
                                {
                                    <li>@objProperty.PropertyFeature3</li>
                                }
                                @if (objProperty.PropertyFeature4 != "System.Object")
                                {
                                    <li>@objProperty.PropertyFeature4</li>
                                }
                                @if (objProperty.PropertyFeature5 != "System.Object")
                                {
                                    <li>@objProperty.PropertyFeature5</li>
                                }
                                @if (objProperty.PropertyFeature6 != "System.Object")
                                {
                                    <li>@objProperty.PropertyFeature6</li>
                                }
                                @if (objProperty.PropertyFeature7 != "System.Object")
                                {
                                    <li>@objProperty.PropertyFeature7</li>
                                }
                                @if (objProperty.PropertyFeature8.ToString() != "System.Object" && objProperty.PropertyFeature8.ToString() != "System.Xml.XmlNode[]")
                                {
                                    <li>@objProperty.PropertyFeature8</li>
                                }
                                @if (objProperty.PropertyFeature9.ToString() != "System.Object" && objProperty.PropertyFeature9.ToString() != "System.Xml.XmlNode[]")
                                {
                                    <li>@objProperty.PropertyFeature9</li>
                                }
                                @if (objProperty.PropertyFeature10.ToString() != "System.Object" && objProperty.PropertyFeature10.ToString() != "System.Xml.XmlNode[]")
                                {
                                    <li>@objProperty.PropertyFeature10</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section><!-- End Property Single-->
