﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using UmbracoV7.App_Code.ComputerMagic.PetaPoco.Models
@using UmbracoV7.App_Code.ComputerMagic.PetaPoco.Repository
@{
    Layout = "BaseMasterTemplate.cshtml";
}

@{
    List<UmbracoV7.App_Code.ComputerMagic.PetaPoco.Models.PropertyType> propertyType = new List<UmbracoV7.App_Code.ComputerMagic.PetaPoco.Models.PropertyType>();

    propertyType = PropertyData.GetPropetiesForHomePage();

    //IList<UmbracoV7.App_Code.ComputerMagic.PetaPoco.Models.Property> PropertiesList = new List<UmbracoV7.App_Code.ComputerMagic.PetaPoco.Models.Property>();
    //var PropertiesList = PropertyData.GetAllPaged(1,2);
}
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<!-- ======= Intro Single ======= -->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Our Amazing Properties</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Properties
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section><!-- End Intro Single-->
<!-- ======= Property Grid ======= -->
<section class="property-grid grid">
    <div class="container">
        @foreach (var item1 in propertyType)
        {
            <div class="row">
                <h2>@item1.PropertyTypeName</h2>
                @foreach (var item in item1.Properties)
                {
                    <div class="col-md-4">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a">
                                <img src="@item.ImageUrl" alt="" class="img-a img-fluid">
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            <a href="#">
                                                @item.AddressNumber
                                                <br /> @item.AddressStreet
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex">
                                            <span class="price-a">
                                                @item.Department | £
                                                @if (item.Department.ToString().ToLower() == "sales")
                                                {@item.Price ;
                                            }
                                            else
                                            {
                                                @item.Rent;
                                            }
                                            </span>
                                        </div>
                                        <a href="property-detail?p=@item.PropertyID" class="link-a">
                                            Click here to view
                                            <span class="bi bi-chevron-right"></span>
                                        </a>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">Beds</h4>
                                                <span>@item.PropertyBedrooms</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Baths</h4>
                                                <span>@item.PropertyBathrooms</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Kitchen</h4>
                                                <span>
                                                    @item.PropertyKitchens
                                                </span>
                                            </li>

                                            <li>
                                                <h4 class="card-info-title">Ensuites</h4>
                                                <span>@item.PropertyEnsuites</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

    </div>
</section><!-- End Property Grid Single-->