﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using UmbracoV7.App_Code.ComputerMagic.PetaPoco.Models
@using UmbracoV7.App_Code.ComputerMagic.PetaPoco.Repository
@{
    Layout = "BaseMasterTemplate.cshtml";
}
@{
    IEnumerable<UmbracoV7.App_Code.ComputerMagic.PetaPoco.Models.Property> PagedAuthors = new List<UmbracoV7.App_Code.ComputerMagic.PetaPoco.Models.Property>();
    var PropertyId = Convert.ToString(Request.QueryString["p"]);
    var bedrooms = Convert.ToString(Request.QueryString["bedrooms"]);
    var PostalCode = Convert.ToString(Request.QueryString["postalcode"]);
    var propertyTypeName = Convert.ToString(Request.QueryString["propertyType"]);
    var minprice = Convert.ToString(Request.QueryString["minprice"]);
    var maxprice = Convert.ToString(Request.QueryString["maxprice"]);
    if (!string.IsNullOrEmpty(bedrooms))
    {
        PagedAuthors = PropertyData.GetFilterData(PropertyId, bedrooms, propertyTypeName, PostalCode, minprice, maxprice);
    }
    else
    {
        PagedAuthors = PropertyData.GetAll();
    }
    //IList<UmbracoV7.App_Code.ComputerMagic.PetaPoco.Models.Property> PropertiesList = new List<UmbracoV7.App_Code.ComputerMagic.PetaPoco.Models.Property>();
    //var PropertiesList = PropertyData.GetAllPaged(1,2);
    List<UmbracoV7.App_Code.ComputerMagic.PetaPoco.Models.PropertyType> propertyType = new List<UmbracoV7.App_Code.ComputerMagic.PetaPoco.Models.PropertyType>();
    propertyType = PropertyData.GetPropetiesTypes();
}
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            //var PropertyId = $('#txtPropertyId').val();
            var PropertyId = '';
            var PostalCode = $('#txtPostalCode').val();
            var bedrooms = $('#bedrooms').val();
            var propertyType = $('#ddlPropertyType').val();
            var minprice = $('#min-price').val();
            var maxprice = $('#max-price').val();
            window.location = "/property-listing?p=" + PropertyId + "&bedrooms=" + bedrooms + "&postalcode=" + PostalCode + "&propertyType=" + propertyType + "&minprice=" + minprice + "&maxprice=" + maxprice;
        });
        $("#btnGetAll").click(function () {
            window.location = "/property-listing";
        });
        //debugger;
        var PropertyId = getUrlVars()["p"];
        var bedrooms = getUrlVars()["bedrooms"];
        if (bedrooms == '' || bedrooms == undefined)
            bedrooms = "0";
        var postalcode = getUrlVars()["postalcode"];
        var propertyType = getUrlVars()["propertyType"];
        if (propertyType == '' || propertyType == undefined) {
            propertyType = "0";
        }
        var minprice = getUrlVars()["minprice"];
        if (minprice == '' || minprice == undefined) {
            minprice = "0";
        }
        var maxprice = getUrlVars()["maxprice"];
        if (maxprice == '' || maxprice == undefined) {
            maxprice = "999999999999999";
        }
        $('#txtPropertyId').val(PropertyId);
        $('#txtPostalCode').val(postalcode);
        $('#bedrooms').val(bedrooms);
        $('#ddlPropertyType').val(propertyType);
        $('#min-price').val(minprice);
        $('#max-price').val(maxprice);
    });
    // Read a page's GET URL variables and return them as an associative array.
    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

</script>
<!-- ======= Intro Single ======= -->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Our Amazing Properties</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Properties
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section><!-- End Intro Single-->
<!-- ======= Property Grid ======= -->
<section class="property-grid grid">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="grid-option">
                    <select type="text" name="ddlPropertyType" id="ddlPropertyType" class="form-control" placeholder="Property Type">
                        <option value="0">--Select--</option>
                        @foreach (var item1 in propertyType)
                        {
                            <option value="@item1.PropertyTypeName">@item1.PropertyTypeName</option>
                        }
                    </select>
                </div>
            </div>
            <!--<div class="col-sm-2">
                <input type="text" id="txtPropertyId" placeholder="Property Id" class="form-control" />
            </div>-->
            <div class="col-sm-2">
                <input type="text" id="txtPostalCode" placeholder="Postal Code" class="form-control" />
            </div>
            <div class="col-sm-2">
                <div class="grid-option">
                    <select type="text" name="bedrooms" id="bedrooms" class="form-control" placeholder="Bedrooms">
                        <option value="0">Min Beds</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="grid-option">
                    <select type="text" name="min-price" id="min-price" class="form-control">
                        <option value="0">Min Price</option>
                        <option value="10000">10,000</option>
                        <option value="20000">20,000</option>
                        <option value="30000">30,000</option>
                        <option value="40000">40,000</option>
                        <option value="50000">50,000</option>
                        <option value="60000">60,000</option>
                        <option value="70000">70,000</option>
                        <option value="80000">80,000</option>
                        <option value="90000">90,000</option>
                        <option value="100000">100,000</option>
                        <option value="110000">110,000</option>
                        <option value="120000">120,000</option>
                        <option value="125000">125,000</option>
                        <option value="130000">130,000</option>
                        <option value="140000">140,000</option>
                        <option value="150000">150,000</option>
                        <option value="160000">160,000</option>
                        <option value="170000">170,000</option>
                        <option value="180000">180,000</option>
                        <option value="190000">190,000</option>
                        <option value="200000">200,000</option>
                        <option value="210000">210,000</option>
                        <option value="220000">220,000</option>
                        <option value="230000">230,000</option>
                        <option value="240000">240,000</option>
                        <option value="250000">250,000</option>
                        <option value="275000">275,000</option>
                        <option value="300000">300,000</option>
                        <option value="325000">325,000</option>
                        <option value="350000">350,000</option>
                        <option value="375000">375,000</option>
                        <option value="400000">400,000</option>
                        <option value="425000">425,000</option>
                        <option value="450000">450,000</option>
                        <option value="475000">475,000</option>
                        <option value="500000">500,000</option>
                        <option value="550000">550,000</option>
                        <option value="600000">600,000</option>
                        <option value="650000">650,000</option>
                        <option value="700000">700,000</option>
                        <option value="800000">800,000</option>
                        <option value="900000">900,000</option>
                        <option value="1000000">1,000,000</option>
                        <option value="1250000">1,250,000</option>
                        <option value="1500000">1,500,000</option>
                        <option value="1750000">1,750,000</option>
                        <option value="2000000">2,000,000</option>
                        <option value="2500000">2,500,000</option>
                        <option value="3000000">3,000,000</option>
                        <option value="4000000">4,000,000</option>
                        <option value="5000000">5,000,000</option>
                        <option value="7500000">7,500,000</option>
                        <option value="10000000">10,000,000</option>
                        <option value="15000000">15,000,000</option>
                        <option value="20000000">20,000,000</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="grid-option">
                    <select type="text" name="max-price" id="max-price" class="form-control">
                        <option value="999999999999999">Max Price</option>
                        <option value="10000">10,000</option>
                        <option value="20000">20,000</option>
                        <option value="30000">30,000</option>
                        <option value="40000">40,000</option>
                        <option value="50000">50,000</option>
                        <option value="60000">60,000</option>
                        <option value="70000">70,000</option>
                        <option value="80000">80,000</option>
                        <option value="90000">90,000</option>
                        <option value="100000">100,000</option>
                        <option value="110000">110,000</option>
                        <option value="120000">120,000</option>
                        <option value="125000">125,000</option>
                        <option value="130000">130,000</option>
                        <option value="140000">140,000</option>
                        <option value="150000">150,000</option>
                        <option value="160000">160,000</option>
                        <option value="170000">170,000</option>
                        <option value="180000">180,000</option>
                        <option value="190000">190,000</option>
                        <option value="200000">200,000</option>
                        <option value="210000">210,000</option>
                        <option value="220000">220,000</option>
                        <option value="230000">230,000</option>
                        <option value="240000">240,000</option>
                        <option value="250000">250,000</option>
                        <option value="275000">275,000</option>
                        <option value="300000">300,000</option>
                        <option value="325000">325,000</option>
                        <option value="350000">350,000</option>
                        <option value="375000">375,000</option>
                        <option value="400000">400,000</option>
                        <option value="425000">425,000</option>
                        <option value="450000">450,000</option>
                        <option value="475000">475,000</option>
                        <option value="500000">500,000</option>
                        <option value="550000">550,000</option>
                        <option value="600000">600,000</option>
                        <option value="650000">650,000</option>
                        <option value="700000">700,000</option>
                        <option value="800000">800,000</option>
                        <option value="900000">900,000</option>
                        <option value="1000000">1,000,000</option>
                        <option value="1250000">1,250,000</option>
                        <option value="1500000">1,500,000</option>
                        <option value="1750000">1,750,000</option>
                        <option value="2000000">2,000,000</option>
                        <option value="2500000">2,500,000</option>
                        <option value="3000000">3,000,000</option>
                        <option value="4000000">4,000,000</option>
                        <option value="5000000">5,000,000</option>
                        <option value="7500000">7,500,000</option>
                        <option value="10000000">10,000,000</option>
                        <option value="15000000">15,000,000</option>
                        <option value="20000000">20,000,000</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="grid-option">

                    <button class="btn btn-a" id="btnSubmit">Search</button>
                    <input type="button" id="btnGetAll" value="Clear" class="btn btn-a" />
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in PagedAuthors)
            {
                <div class="col-md-4">
                    <div class="card-box-a card-shadow">
                        <div class="img-box-a">
                            <img src="@item.ImageUrl" alt="" class="img-a img-fluid">
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-a-content">
                                <div class="card-header-a">
                                    <h2 class="card-title-a">
                                        <a href="#">
                                            @item.AddressNumber
                                            <br /> @item.AddressStreet
                                        </a>
                                    </h2>
                                </div>
                                <div class="card-body-a">
                                    <div class="price-box d-flex">
                                        <span class="price-a">
                                            @item.Department | £
                                        @if (item.Department.ToString().ToLower() == "sales")
                                        {@item.Price ;
                                    }
                                    else
                                    {
                                        @item.Rent;
                                    }


                                    </span>
                                </div>
                                <a href="property-detail?p=@item.PropertyID" class="link-a">
                                    Click here to view
                                    <span class="bi bi-chevron-right"></span>
                                </a>
                            </div>
                            <div class="card-footer-a">
                                <ul class="card-info d-flex justify-content-around">
                                    <li>
                                        <h4 class="card-info-title">Beds</h4>
                                        <span>@item.PropertyBedrooms</span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Baths</h4>
                                        <span>@item.PropertyBathrooms</span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Kitchen</h4>
                                        <span>
                                            @item.PropertyKitchens
                                        </span>
                                    </li>

                                    <li>
                                        <h4 class="card-info-title">Ensuites</h4>
                                        <span>@item.PropertyEnsuites</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
        <div class="row">
            <div class="col-sm-12">
                <nav class="pagination-a">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">
                                <span class="bi bi-chevron-left"></span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item next">
                            <a class="page-link" href="#">
                                <span class="bi bi-chevron-right"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section><!-- End Property Grid Single-->
